<div class="avaliacao-usuario">
    <h3>Avaliações do curso</h3>
    <p>Nota: <b><span class="nota-media-curso">{{ nota_media_curso }}</span></b></p>
    <ul class="itens-lista">

        {% for avaliacao in avaliacoes %}
            <li>
                <p>{{avaliacao.comentario}}</p>
            </li>
        {% endfor %}
    </ul>

    </br>
    {% if avaliacao_usuario != None %}

        <h3>Minha avaliação</h3>

        <p>
            Nota: {{ avaliacao_usuario.nota }}
        </p>

        <p>
            Comentario: {{ avaliacao_usuario.comentario }}
        </p>

        <input id="refazer" type="button" name="refazer" class="btn btn-success" value="Refazer" onclick="atualizaDados()">

    {% else %}
        <div class="avaliacao-usuario">
            <h3>Avaliar Curso</h3>

            <div class="offset-1 col-10 list-div">

                <form action="" method="POST">
                    {% csrf_token %}
                    <select name="nota" size="5">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <textarea name="comentario" rows="10" cols="30">

                    </textarea>

                    <input id="enviar" type="submit" name="enviar" class="btn btn-success" value="Enviar">
                </form>
            </div>
        </div>

    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">

            //__ Tratamento para envio de informações ao backend via AJAX
            $('form').submit(function(e){
                e.preventDefault();

                var $formData = $(this).serialize()
                var $thisURL = "/avaliacao-curso/{{ curso.id }}"
                $.ajax({
                    method: "POST",
                    url: $thisURL,
                    data: $formData,
                    success: handleFormSuccess,
                    error: handleFormError,
                })

                function handleFormSuccess(data, textStatus, jqXHR){
                    console.log(data)
                    console.log(textStatus)
                    console.log(jqXHR)
                    $(".avaliacao-usuario").replaceWith(data);
                    //$(".nota-media-curso").replaceWith("<span>{{ nota_media_curso }}</span>");
                }

                function handleFormError(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            })

            //__ Atualiza algumas informações da página
            function atualizaDados(){
                var $thisURL = "/avaliacao-curso/{{ curso.id }}"
                $.ajax({
                    method: "GET",
                    url: $thisURL,
                    data: {},
                    success: handleFormSuccess,
                    error: handleFormError,
                })
                function handleFormSuccess(data, textStatus, jqXHR){
                    console.log(data)
                    console.log(textStatus)
                    console.log(jqXHR)
                    $(".avaliacao-usuario").replaceWith(data);
                }

                function handleFormError(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
              }
    </script>
</div>
