<div class="conteudo-relatorio-container">
    {% if usuario != None %}

        <h2>Relatório acompanhamento - {{ usuario.username }}</h2>

        <table style="width:100%">
            <tr>
                <th>Curso</th>
                <th>Percentual de Andamento</th>
                <th>Percentual de Acertos</th>
                <th>Situação</th>
            </tr>
            {% for inscricao in inscricoes %}
                <tr>
                    <td>{{ inscricao.curso.titulo }}</td>
                    <td>{{ inscricao.percentual_andamento }}</td>
                    <td>{{ inscricao.percentual_acertos }}</td>
                    <td>{{ inscricao.situacao }}</td>
                </tr>
            {% endfor %}
        </table>

        {% if arquivo == False %}
            <div class="botao-certificado">
                <a href="/relatorio-usuario/{{ usuario.id }}">Abrir relatório<span><i class="fas fa-download"></i></span></a>
            </div>

            <div class="botao-certificado">
                <a href="/relatorio-usuario/{{ usuario.id }}?download=download">Baixar relatório<span><i class="fas fa-download"></i></span></a>
            </div>
        {% endif %}
    {% endif %}

</div>