{% extends 'pagina-inicial.html' %}

{% block title %} Lista de Cursos {% endblock %}

{% block content_page %}


    <h2 class="text-center">Lista de Cursos</h2>

    <div class="col-12 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search"
                   placeholder="Digite um nome para buscar"
                   value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>

    <!--
    <ul class="itens-lista">
        {% for objeto in objetos %}
            <li class="item-lista">
                <span><a href="/informacoes-curso/{{objeto.id}}">{{ objeto }}</a></span>
                <a href="informacoes-curso/{{ objeto.id }}"><span><i class="fas fa-arrow-right"></i></span></a>
            </li>
        {% endfor %}
    </ul>
    -->
    <div class="row">
    {% for elemento in lista_cursos %}
        <div class="col-sm-4">
            <div class="card card-curso">
                <div class="card-body">
                    <h5 class="card-title text-center">{{elemento.curso.titulo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">{{elemento.categoria}}</h6>
                    <p class="card-text">{{elemento.curso.descricao}}</p>
                    <p>
                        <div class="stars">
                            <span class="star {{ elemento.nota_1 }}"></span>
                            <span class="star {{ elemento.nota_2 }}"></span>
                            <span class="star {{ elemento.nota_3 }}"></span>
                            <span class="star {{ elemento.nota_4 }}"></span>
                            <span class="star {{ elemento.nota_5 }}"></span>
                            <span><b>({{elemento.nota_media}})</b></span>
                            <span>({{elemento.numero_avaliacoes}})</span>
                        </div>
                    </p>
                    <p>
                    <div class="card text-center">
                        <a href="/informacoes-curso/{{elemento.curso.id}}" class="btn btn-primary" role="button">Detalhes</a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            <span>
                {% if objetos.has_previous %}
                    <a href="?page={{ objetos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}

                {% if objetos.paginator.num_pages %}
                <span class="current">
                    {{ objetos.number }} de {{ objetos.paginator.num_pages }}
                </span>
                {% endif %}

                {% if objetos.has_next %}
                    <a href="?page={{ objetos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </span>
    </div>

{% endblock %}