{% extends 'pagina-inicial.html' %}

{% load static %}

{% block title %} Conteúdo do curso {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>

        .fa-angle-double-down, .fa-angle-double-up{
            margin-right: 0.5rem;
        }

        .tab-content-body {
            //margin-left: 10px;
            padding: 10px;
        }

        .tab-content {
            border-bottom: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
        }

        .nav-tabs-content {
            border: 1px solid #dee2e6;
            background-color: #f8f9fa;
        }

        .nav-link-content  {
            border: 1px solid gray !important;
            color: #007bff;
            background-color: white;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-radius: .3rem !important;
            font-family: inherit !important;
            margin-right: 5px !important;
            margin-bottom: 5px !important;
            margin-top: 5px !important;
        }

        .nav-link-content.active {
            color: white !important;
            background-color: #007bff !important;
            border: 1px solid #007bff !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-radius: .3rem !important;
            font-family: inherit !important;
        }

        .nav-link-content.active > i{
            color: white !important;
        }

        .class-icone-content  {
            margin-right: 10px;
            color: #007bff;
        }

        .class-icone-button{
            margin-right: 10px;
            color: white;
        }

        .btn-link {
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        .progress {
            margin-top: 13px;
            height: 2rem;
        }

        .container-check {
            //display: block;
            position: relative;
            //padding-left: 35px;
            //margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: left;
        }

        /* Hide the browser's default checkbox */
        .container-check input {
            //position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border: 1px solid gray;
        }


        /* When the checkbox is checked, add a blue background */
        .container-check input:checked ~ .checkmark {
            background-color: green;
            border: 1px solid green;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container-check input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container-check .checkmark:after {
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

       .bd-example-modal-lg .modal-dialog{
          display: table;
          position: relative;
          margin: 0 auto;
          top: calc(50% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content{
          background-color: transparent;
          border: none;
        }

        .alert {
            padding: .4rem 1rem;
            margin-bottom: 10px;
            background-color: rgba(0,0,0,.03);
        }

    </style>

{% endblock %}

{% block content_page %}

    <div id="page-content">

              <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03);">
                  <h4 class="text-center" style="margin-top: 10px;">{{ curso.titulo }}</h4>
              </div>

              <ul class="nav nav-tabs nav-tabs-content justify-content-center" id="navegacao-curso" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link nav-link-content active" id="informacoes-tab" data-toggle="tab" href="#informacoes-curso" role="tab" aria-controls="informacoes-curso" aria-selected="false" title="Informações gerais do curso">
                          <i class="fa fa-info-circle class-icone-content"></i>Informações
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link nav-link-content" id="conteudo-tab" data-toggle="tab" href="#conteudo-curso" role="tab" aria-controls="conteudo-curso" aria-selected="false" title="Conteúdos didáticos do curso(vídeos, arquivos e questionários)">
                          <i class="fab fa-contao class-icone-content"></i>Conteúdo
                      </a>
                  </li>
                  {% if perfil_aluno == True %}
                  <li class="nav-item">
                      <a class="nav-link nav-link-content" id="avaliacoes-tab" data-toggle="tab" href="#avaliacoes-curso" role="tab" aria-controls="avaliacoes-curso" aria-selected="false" title="Sua avaliação do curso">
                          <i class="fa fa-comment class-icone-content"></i>Minha avaliação
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link nav-link-content" id="certificado-tab" data-toggle="tab" href="#certificado-curso" role="tab" aria-controls="certificado-curso" aria-selected="false" title="Obtenção do certificado de participação no curso">
                          <i class="fas fa-award class-icone-content"></i>Certificado
                      </a>
                  </li>
                  {% endif %}

              </ul>

              <div class="tab-content" id="navegacao-conteudo">

                  <div class="tab-pane fade show active" id="informacoes-curso" role="tabpanel" aria-labelledby="informacoes-tab">
                    <div class="tab-content-body">
                        {% if perfil_aluno == True %}
                        <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03);">
                            <h5 class="text-center"><i class="fas fa-clock class-icone-content"></i>Último acesso em: <b>{{ data_ultimo_acesso|date:"d/m/Y h:m:s" }}</b></h5>

                            {% if curso_objeto_ultimo_conteudo != None %}

                            <h5 class="text-center">Conteúdo: <b>{{ curso_objeto_ultimo_conteudo.unidade.titulo }} - {{ curso_objeto_ultimo_conteudo.titulo }}</b></h5>

                            <div class="col text-center">
                                <a href="/{{ usuario_inscricao.ultimo_conteudo_acessado }}" class="btn btn-primary" role="button" title="Clique aqui para continuar no último conteúdo que parou">
                                    <i class="fas fa-angle-double-right class-icone-button"></i>
                                        Continuar
                                </a>
                            </div>

                            {% endif %}
                        </div>
                        {% endif %}

                        <hr/>
                        <h5 class="text-center"><i class="fas fa-pen class-icone-content"></i>Descrição:</h5>
                        <div class="text-center" style="font-size: 1.1rem;"><b>{{ curso.descricao }}</b></div>
                        <hr/>
                        {% if perfil_aluno == True %}
                            {% if situacao_aluno_curso == "REPROVADO" %}
                                <h5 class="text-center"><i class="fab fa-stripe-s class-icone-content"></i>Situação: <b id="situacao-aluno" style="color: red;">{{ situacao_aluno_curso }}</b></h5>
                            {% else %}
                                {% if situacao_aluno_curso == "APROVADO" %}
                                    <h5 class="text-center"><i class="fab fa-stripe-s class-icone-content"></i>Situação: <b id="situacao-aluno" style="color: green;">{{ situacao_aluno_curso }}</b></h5>
                                {% else %}
                                    <h5 class="text-center"><i class="fab fa-stripe-s class-icone-content"></i>Situação: <b id="situacao-aluno" style="color: #007bff;">{{ situacao_aluno_curso }}</b></h5>
                                {% endif %}
                            {% endif %}
                            <hr/>
                            <h5 class="text-center"><i class="fas fa-percent class-icone-content"></i>Andamento:</h5>
                            <div style="float: right; margin-left: 10px;"><b style="font-size: 1.5rem" id="texto-percentual-andamento">({{ percentual_andamento }}%)</b></div>
                            <div class="progress">
                                <div class="progress-bar" id="pb-andamento"role="progressbar" style="width: {{ percentual_andamento }}%"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span class="perc-nota"><b style="font-size: 1rem"></b></span>
                                </div>
                            </div>
                            <hr/>
                            <h5 class="text-center"><i class="fas fa-check-double class-icone-content"></i>Acertos:</h5>
                            <div style="float: right; margin-left: 10px;"><b style="font-size: 1.5rem" id="texto-percentual-acertos">({{ percentual_acertos }}%)</b></div>
                            <div class="progress">
                                <div class="progress-bar" id="pb-acertos" role="progressbar" style="width: {{ percentual_acertos }}%"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span class="perc-nota"><b style="font-size: 1rem"></b></span>
                                </div>
                            </div>
                            <hr/>
                            <h5 class="text-center"><i class="fas fa-play class-icone-content"></i>Iniciado em: <b>{{ data_inicio|date:"d/m/Y h:m:s" }}</b></h5>
                            <hr/>
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

                                    <div class="col text-center" id="cancela inscricao" style="margin-bottom: 5px;">
                                      <span class="btn btn-danger" style="cursor: pointer;" id="botao-anterior" role="button" onclick="cancelaInscricao()" title="Remove sua inscrição do curso">
                                          <i class="fas fa-ban" ></i>
                                           Cancelar inscrição
                                      </span>
                                    </div>

                                </div>
                            <hr/>
                        {% endif %}
                    </div>
                  </div>

                  <div class="tab-pane fade" id="conteudo-curso" role="tabpanel" aria-labelledby="conteudo-tab">
                    <div class="tab-content-body">
                        {% for elemento in lista_unidades %}
                        <div class="panel-group" id="accordion-conteudos-unidade-{{elemento.unidade.ordem}}">
                            <div class="card" style="margin-top: 10px;">
                                <div class="card-header" id="heading-unidade-{{elemento.unidade.ordem}}" style="padding: .2rem 1rem; text-align-last: justify;">
                                  <h5 class="mb-0">
                                    <button style="margin-left: 10px;" class="btn btn-link link-unidade" onclick="expandeArea(this)" data-toggle="collapse" data-target="#collapse-unidade-{{elemento.unidade.ordem}}" aria-expanded="true" aria-controls="collapse-unidade-{{elemento.unidade.ordem}}" title="Clique para visualiar ou recolher as informações">
                                      <i class="fas fa-angle-double-down"></i>
                                      Unidade - {{elemento.unidade.ordem}} - {{elemento.unidade.titulo}}
                                    </button>

                                  </h5>
                                </div>
                                <div id="collapse-unidade-{{elemento.unidade.ordem}}" class="collapse" aria-labelledby="heading-unidade-{{elemento.unidade.ordem}}" data-parent="#accordion-conteudos-unidade-{{elemento.unidade.ordem}}">

                                    <div class="tab-content-body">
                                        {% if elemento.unidade.descricao != None  %}
                                        <p class="text-center">{{elemento.unidade.descricao}}</p>
                                        {% endif %}

                                        {% if elemento.tem_videos == True %}
                                        <div class="panel-group" id="accordion-videos-unidade-{{elemento.unidade.ordem}}">

                                            <div class="card" style="margin-top: 10px;">
                                                <div class="card-header" id="heading-videos-unidade-{{ elemento.unidade.ordem }}" style="padding: .2rem 1rem; text-align-last: justify;">
                                                  <h5 class="mb-0">
                                                    <button style="margin-left: 5px;" class="btn btn-link link-videos" onclick="expandeArea(this)" data-toggle="collapse" data-target="#collapse-videos-unidade-{{ elemento.unidade.ordem }}" aria-expanded="true" aria-controls="collapse-videos-unidade-{{ elemento.unidade.ordem }}"  title="Clique aqui para visualiar ou recolher os vídeos">
                                                      <i class="fas fa-angle-double-down"></i>
                                                      Vídeos
                                                      <i style="margin-left: 4px;" class="fas fa-video"></i>
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapse-videos-unidade-{{ elemento.unidade.ordem }}" class="collapse" aria-labelledby="heading-videos-unidade-{{ elemento.unidade.ordem }}" data-parent="#accordion-videos-unidade-{{elemento.unidade.ordem}}">
                                                  <div class="tab-content-body">

                                                    {% for video in elemento.videos %}
                                                        <div class="alert alert-secondary" role="alert">

                                                            {% if perfil_aluno == True %}
                                                            <label class="container-check" title="Clique aqui para marcar ou desmarcar que você interagiu com o vídeo">
                                                            {% if video.assistido == True %}
                                                            <input type="checkbox" checked="checked" id="input-unidade-{{ elemento.unidade.ordem }}-video-{{video.video.ordem}}" id_conteudo="{{ video.video.id }}" tipo_conteudo="video">
                                                            {% else %}
                                                            <input type="checkbox" id="input-unidade-{{ elemento.unidade.ordem }}-video-{{video.video.ordem}}" id_conteudo="{{ video.video.id }}" tipo_conteudo="video">
                                                            {% endif %}
                                                                <span style="float: left; margin-top: 6px;"class="checkmark"></span>
                                                             </label>
                                                            {% endif %}

                                                            <a style="margin-left: 25px; margin-top: 2px;" class="btn btn-link link-video" href="/visualizacao-video/{{ video.video.id }}" title="Clique aqui para acessar o vídeo">
                                                              {{ video.video.titulo }}
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if elemento.tem_arquivos == True %}
                                        <div class="panel-group" id="accordion-arquivos-unidade-{{elemento.unidade.ordem}}">


                                            <div class="card" style="margin-top: 10px;">
                                                <div class="card-header" id="heading-arquivos-unidade-{{ elemento.unidade.ordem }}" style="padding: .2rem 1rem; text-align-last: justify;">
                                                  <h5 class="mb-0">
                                                    <button style="margin-left: 5px;" class="btn btn-link link-arquivos" onclick="expandeArea(this)" data-toggle="collapse" data-target="#collapse-arquivos-unidade-{{ elemento.unidade.ordem }}" aria-expanded="true" aria-controls="collapse-arquivos-unidade-{{ elemento.unidade.ordem }}"   title="Clique aqui para visualiar ou recolher os arquivos">
                                                      <i class="fas fa-angle-double-down"></i>
                                                      Arquivos
                                                      <i style="margin-left: 4px;" class="fas fa-file-alt"></i>
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapse-arquivos-unidade-{{ elemento.unidade.ordem }}" class="collapse" aria-labelledby="heading-arquivos-unidade-{{ elemento.unidade.ordem }}" data-parent="#accordion-arquivos-unidade-{{elemento.unidade.ordem}}">
                                                  <div class="tab-content-body">

                                                        {% for arquivo in elemento.arquivos %}
                                                            <div class="alert alert-secondary" role="alert">

                                                                {% if perfil_aluno == True %}
                                                                <label class="container-check" title="Clique aqui para marcar ou desmarcar que você interagiu com o arquivo">
                                                                    {% if arquivo.acessado == True %}
                                                                    <input type="checkbox" checked="checked" id="input-unidade-{{ elemento.unidade.ordem }}-arquivo-{{ arquivo.arquivo.ordem }}" id_conteudo="{{ arquivo.arquivo.id }}" tipo_conteudo="arquivo">
                                                                    {% else %}
                                                                    <input type="checkbox" id="input-unidade-{{ elemento.unidade.ordem }}-arquivo-{{ arquivo.arquivo.ordem }}" id_conteudo="{{ arquivo.arquivo.id }}" tipo_conteudo="arquivo">
                                                                    {% endif %}
                                                                    <span style="float: left; margin-top: 6px;"class="checkmark"></span>
                                                                </label>
                                                                {% endif %}

                                                                <a style="margin-left: 25px; margin-top: 2px;" class="btn btn-link link-arquivo" href="/visualizacao-arquivo/{{ arquivo.arquivo.id }}" title="Clique aqui para acessar o arquivo">
                                                                  {{ arquivo.arquivo.titulo }}
                                                                </a>

                                                            </div>

                                                        {% endfor %}
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if elemento.tem_questionarios == True %}
                                        <div class="panel-group" id="accordion-questionarios-unidade-{{elemento.unidade.ordem}}">


                                            <div class="card" style="margin-top: 10px;">
                                                <div class="card-header" id="heading-questionarios-unidade-{{ elemento.unidade.ordem }}" style="padding: .2rem 1rem; text-align-last: justify;">
                                                  <h5 class="mb-0">
                                                    <button style="margin-left: 5px;" class="btn btn-link link-questionarios" onclick="expandeArea(this)" data-toggle="collapse" data-target="#collapse-questionarios-unidade-{{ elemento.unidade.ordem }}" aria-expanded="true" aria-controls="collapse-questionarios-unidade-{{ elemento.unidade.ordem }}"   title="Clique aqui para visualiar ou recolher os questionários">
                                                      <i class="fas fa-angle-double-down"></i>
                                                      Questionários
                                                      <i style="margin-left: 4px;" class="fas fa-question-circle"></i>
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapse-questionarios-unidade-{{ elemento.unidade.ordem }}" class="collapse" aria-labelledby="heading-questionarios-unidade-{{ elemento.unidade.ordem }}" data-parent="#accordion-questionarios-unidade-{{elemento.unidade.ordem}}">
                                                  <div class="tab-content-body">

                                                        {% for questionario in elemento.questionarios %}
                                                            <div class="alert alert-secondary" role="alert">

                                                                {% if perfil_aluno == True %}
                                                                <label class="container-check" title="Clique aqui para marcar ou desmarcar que você interagiu com o questionário">
                                                                    {% if questionario.respondido == True %}
                                                                    <input type="checkbox" checked="checked" id="input-unidade-{{ elemento.unidade.ordem }}-questionario-{{ questionario.questionario.ordem }}" id_conteudo="{{ questionario.questionario.id }}" tipo_conteudo="questionario">
                                                                    {% else %}
                                                                    <input type="checkbox" id="input-unidade-{{ elemento.unidade.ordem }}-questionario-{{ questionario.questionario.ordem }}" id_conteudo="{{ questionario.questionario.id }}" tipo_conteudo="questionario">
                                                                    {% endif %}
                                                                    <span style="float: left; margin-top: 6px;"class="checkmark"></span>
                                                                </label>
                                                                {% endif %}

                                                                <a style="margin-left: 25px; margin-top: 2px;" class="btn btn-link link-questionario" href="/visualizacao-questionario/{{ questionario.questionario.id }}" title="Clique aqui para acessar o questionário">
                                                                  {{ questionario.questionario.titulo }}
                                                                </a>
                                                            </div>

                                                        {% endfor %}
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                  </div>

                  <div class="tab-pane fade" id="avaliacoes-curso" role="tabpanel" aria-labelledby="avaliacoes-tab">

                    <div class="tab-content-body">
                      <hr/>
                      <h5 class="text-center">Avalie o curso preenchendo as informações abaixo</h5>
                      <hr/>
                      <div class="alert alert-danger alert-dismissable" id="avaliacao-falha" hidden="true">
                          <a href="" class="close" onclick="escodeAlerta(this)"  aria-label="close">&times</a>
                          <strong>Falha ao executar ação.</strong>
                      </div>
                      <div class="alert alert-success alert-dismissable" id="avaliacao-sucesso" hidden="true">
                          <a href="" class="close" onclick="escodeAlerta(this)" aria-label="close">&times</a>
                          <strong>Sucesso ao executar ação.</strong>
                      </div>
                      <form action="" id="avaliacao-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="avaliacao-nota">Nota:</label>
                          <select id="avaliacao-nota" name="nota" class="form-control" required>
                              {% if avaliacao != None %}
                                {% if avaliacao.nota == 1 %}
                                    <option value="1" selected>1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                {% endif %}
                                {% if avaliacao.nota == 2 %}
                                    <option value="1" >1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                {% endif %}
                                {% if avaliacao.nota == 3 %}
                                    <option value="1" >1</option>
                                    <option value="2" >2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                {% endif %}
                                {% if avaliacao.nota == 4 %}
                                    <option value="1" >1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" selected>4</option>
                                    <option value="5" >5</option>
                                {% endif %}
                                {% if avaliacao.nota == 5 %}
                                    <option value="1" >1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" selected>5</option>
                                {% endif %}
                              {% else %}
                                  <option value="1" >1</option>
                                  <option value="2" >2</option>
                                  <option value="3" >3</option>
                                  <option value="4" >4</option>
                                  <option value="5" >5</option>
                              {% endif %}
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="avaliacao-comentario">Comentário:</label>
                          {% if avaliacao != None %}
                              <textarea class="form-control" id="avaliacao-comentario" name="comentario" rows="3" required>{{ avaliacao.comentario }}</textarea>
                          {% else %}
                              <textarea class="form-control" id="avaliacao-comentario" name="comentario" rows="3" required></textarea>
                          {% endif %}
                        </div>


                          <div class="container">
                              <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                  <div class="col text-center" style="margin-bottom: 10px;">
                                      <button type="submit" name="envia" class="btn btn-primary" title="Clique aqui salvar sua avaliação"><i class="fas fa-share-square class-icone-button"></i>Enviar</button>
                                  </div>
                                  {% if avaliacao != None %}
                                  <div class="col text-center">
                                      <button class="btn btn-danger" onclick="eliminaAvaliacao()" role="button" title="Clique aqui para eliminar sua avaliação atual">
                                          <i class="fas fa-trash-alt class-icone-button"></i>
                                              Eliminar
                                      </button>
                                  </div>
                                  {% else %}
                                 <div class="col text-center" id="elimina-avaliacao" hidden="true">
                                      <button class="btn btn-danger" onclick="eliminaAvaliacao()" role="button" title="Clique aqui para eliminar sua avaliação atual">
                                          <i class="fas fa-trash-alt class-icone-button"></i>
                                              Eliminar
                                      </button>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>



                      </form>

                    </div>
                  </div>


                   <div class="tab-pane fade" id="certificado-curso" role="tabpanel" aria-labelledby="certificado-tab">

                    <div class="tab-content-body">
                      <hr/>
                      <p> Para obter o certificado do curso, é necessário ter assistido a todos os vídeos disponibilizados nas unidades
                      e também ter um percentual de acerto de do mínimo 70% nos questionários propostos.</p>
                      <hr/>

                      {% if situacao_aluno_curso == "APROVADO" %}
                      <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <div class="offset-sm-4 col-sm-4 text-center" id="botao-anterior-container" style="margin-bottom: 10px; padding: 0;">
                                          <a href="/certificado/{{ curso.id }}" class="btn btn-primary" role="button" title="Abre página com a visualização do PDF do certificado">
                                              <i class="fas fa-eye class-icone-button"></i>
                                                  Visualizar certificado
                                          </a>
                                    </div>

                                    <div class="offset-sm-4 col-sm-4 text-center" id="botao-proximo-container" style="margin-bottom: 0px;  padding: 0;">
                                        <a href="/certificado/{{ curso.id }}?download=download" class="btn btn-primary" role="button" title="Realiza o download do arquivo PDF do certificado">
                                          <i class="fas fa-download class-icone-button"></i>
                                              Baixar certificado
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      {% endif %}

                    </div>
                  </div>

              </div>

            <div class="modal fade modal-delete-item" id="confirmDeleteModal" id_elemento="" id_conteudo="" tipo_conteudo="" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body confirm-conteudo">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmDeleteButtonModal">Confirma</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade modal-delete-avaliacao" id="confirmDeleteAvaliacao" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteAvaliacao" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body confirm-conteudo">
                    Deseja realmente eliminar sua avalição do curso?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmDeleteButtonAvaliacao">Confirma</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade modal-delete-inscricao" id="confirmDeleteInscricao" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteInscricao" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body confirm-conteudo">
                    Deseja realmente cancelar sua inscrição no curso? Todo andamento no curso será perdido.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmDeleteButtonInscricao">Confirma</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal modal-sem-alteracoes" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Atualização de conteúdo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Atualização realizada com sucesso.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal modal-falha" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Atualização de conteúdo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Falha ao realizar atualização.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade bd-example-modal-lg" id="modal-aguarde" id_conteudo="" tipo_conteudo="" status_conteudo="" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width: 48px">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                        <span><b>Aguarde...</b></span>
                    </div>
                </div>
            </div>

          <script>
            function expandeArea(elemento){
              if($($($(elemento).closest('.card-header')).siblings()[0]).hasClass('show')){
                $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
              }
              else {
                $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
              }

            }

            $('input[type="checkbox"]').on('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                if($(this).prop("checked") == false) {
                    msg = "Deseja realmente desmarcar a finalização deste conteúdo?"
                }
                else {
                    msg = "Deseja realmente marcar a finalização deste conteúdo?"
                }

                $('.confirm-conteudo')[0].innerText = msg;

                $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("id_elemento", this.id)
                $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("id_conteudo", $(this).attr("id_conteudo"))
                $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("tipo_conteudo", $(this).attr("tipo_conteudo"))
                $('.modal-delete-item').modal('show');

            });

            $(document).on('click', '#confirmDeleteButtonModal', function () {
                id_elemento = $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("id_elemento")
                id_conteudo = $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("id_conteudo")
                tipo_conteudo = $("#confirmDeleteButtonModal").closest(".modal-delete-item").attr("tipo_conteudo")
                elemento = $('#' + id_elemento)[0]

                var conteudo_status = false;

                if($(elemento).prop("checked")) {
                    $(elemento).prop("checked", false)
                    status_conteudo = false;
                }
                else {
                    $(elemento).prop("checked", true)
                    status_conteudo = true;
                }

                $("#modal-aguarde").attr("id_conteudo", id_conteudo)
                $("#modal-aguarde").attr("tipo_conteudo", tipo_conteudo)
                $("#modal-aguarde").attr("status_conteudo", status_conteudo)
                $('#modal-aguarde').modal('show');

            });

            $('#modal-aguarde').on('shown.bs.modal', function () {
                id_conteudo     = $("#modal-aguarde").attr("id_conteudo")
                tipo_conteudo   = $("#modal-aguarde").attr("tipo_conteudo")
                status_conteudo = $("#modal-aguarde").attr("status_conteudo")

                $.ajax(
                {
                    type:"GET",
                    url: "/atualiza-acesso-conteudo/",
                    data:{
                        id_conteudo:  id_conteudo,
                        tipo_conteudo: tipo_conteudo,
                        conteudo_status: status_conteudo
                    },
                    success     : function(data, textStatus, jqXHR){
                        $('#modal-aguarde').modal('hide');
                        $('.modal-sem-alteracoes').modal('show');

                        if(data['percentual_acertos'] != null){
                            $('#texto-percentual-acertos')[0].innerText = '(' + data['percentual_acertos'] + '%)'
                            $('#pb-acertos').attr('style', 'width: ' + data['percentual_acertos'] + '%;')
                        }

                        if(data['percentual_andamento'] != null){
                            $('#texto-percentual-andamento')[0].innerText = '(' + data['percentual_andamento'] + '%)'
                            $('#pb-andamento').attr('style', 'width: ' + data['percentual_andamento'] + '%;')
                        }

                        if(data['situacao_aluno'] != null){
                            $('#situacao-aluno')[0].innerText = data['situacao_aluno']

                            if(data['situacao_aluno'] == "REPROVADO")
                                $('#situacao-aluno').attr('style', 'color: red;')
                            else
                                if(data['situacao_aluno'] == "APROVADO")
                                    $('#situacao-aluno').attr('style', 'color: green;')
                                else
                                    $('#situacao-aluno').attr('style', 'color: #007bff;')
                        }

                    },
                    error: function(data){
                        $('#modal-aguarde').modal('hide');
                        $('.modal-falha').modal('show');
                    }
                })
            })


            // Submit post on submit
            $('#avaliacao-form').on('submit', function(event){
                event.preventDefault();

                var formData = new FormData($('#avaliacao-form')[0])

                $.ajax({
                  url         : '/avaliacao-curso/{{ curso.id }}',
                  data        : formData,
                  type        : 'POST',
                  processData : false,
                  contentType : false,
                  success     : function(data, textStatus, jqXHR){
                      $('#avaliacao-sucesso')[0].hidden = false;
                      $('#avaliacao-falha')[0].hidden = true;
                      $('#elimina-avaliacao')[0].hidden = false;
                  },
                  error: function(data){
                      $('#avaliacao-sucesso')[0].hidden = true;
                      $('#avaliacao-falha')[0].hidden = false;
                      $('#avaliacao-falha').find('strong')[0].innerText = data.responseText;
                  }
                });
            });

            function escodeAlerta(elemento) {
                $(elemento).closest('.alert')[0].hidden = true
            }

            function eliminaAvaliacao() {
                event.preventDefault();
                $('.modal-delete-avaliacao').modal('show');
            }

            $(document).on('click', '#confirmDeleteButtonAvaliacao', function () {

                $.ajax({
                  url         : '/elimina-avaliacao/{{ curso.id }}',
                  type        : 'GET',
                  processData : false,
                  contentType : false,
                  success     : function(data, textStatus, jqXHR){
                      $('#avaliacao-sucesso')[0].hidden = false;
                      $('#avaliacao-falha')[0].hidden = true;
                      $('#avaliacao-nota')[0].value = "1"
                      $('#avaliacao-comentario')[0].value = ""
                  },
                  error: function(data){
                      $('#avaliacao-sucesso')[0].hidden = true;
                      $('#avaliacao-falha')[0].hidden = false;
                      $('#avaliacao-falha').find('strong')[0].innerText = data.responseText;
                  }
                });
            })

            function cancelaInscricao() {
                event.preventDefault();
                $('.modal-delete-inscricao').modal('show');
            }

            $(document).on('click', '#confirmDeleteButtonInscricao', function () {
                $.ajax({
                  url         : '/cancela-inscricao-curso/{{ curso.id }}',
                  type        : 'GET',
                  processData : false,
                  contentType : false,
                  success     : function(data, textStatus, jqXHR){
                      window.location.href = data.redirect;
                  },
                  error: function(data){

                  }
                });
            })

            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                e.preventDefault();
                history.pushState({}, '', this.href);
            })

            //__ Obtém o tempo corrente do video que será exibido
            $(document).ready(function(){
                console.log("Onready");

                id_tab = window.location.hash;

                if(id_tab != "#informacoes-curso" && id_tab != ""){

                    $('a[href="#informacoes-curso"]').removeClass('active')
                    $('#informacoes-curso').removeClass('show')
                    $('#informacoes-curso').removeClass('active')

                    $('a[href="' + id_tab + '"]').addClass('active')

                    $(id_tab).addClass('active')
                    $(id_tab).addClass('show')

                }
            })

            window.addEventListener("popstate", event => {
                history.back();
            });

          </script>


    </div>
{% endblock %}