{% extends 'base.html' %}

{% block title %} Lista de Cursos {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h2>{{curso.titulo}}</h2>

    </br>
    <h3>Informações sobre o curso</h3>
    <p>
        {{curso.categoria.titulo}}
    </p>
    <p>
        Instrutor: {{curso.usuario.username}}
    </p>
    <p>
        Palavras chaves: {{curso.palavras_chaves}}
    </p>
     <p>
        Descrição: {{curso.descriação}}
    </p>

    </br>

    <h3>Unidades do curso</h3>
    <ul class="itens-lista">

        {% for unidade in unidades %}
            <li>
                <p>{{unidade.titulo}}</p>
            </li>
        {% endfor %}
    </ul>

    </br>


    {% include  'core/avaliacao-conteudo.html' %}


    {% if exibe_botao_inscricao %}
        <a class="botao_inscricao" id="add-link" href="#" data-curso_id="{{ curso.id }}">
        <div class="col-4 add-div">
            <i class="fas fa-plus"></i> Inscrever-se
        </div>
    {% endif %}

    {% if exibe_botao_conteudo %}
        <a id="add-link" href="/conteudo-curso/{{ curso.id }}">
        <div class="col-4 add-div">
            <i class="fas fa-plus"></i> Acessar
        </div>
    {% endif %}

    <p id="message"></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
        $('.botao_inscricao').click(function(){
        var curso_id;
        curso_id = $(this).attr("data-curso_id");
        $.ajax(
        {
            type:"GET",
            url: "/inscricao-curso",
            data:{
                     curso_id: curso_id
            },
            success: function( data )
            {
                window.location = '/conteudo-curso/1';
            },
            error: function(data){
                $( '#message' ).text(data);
            }
         })
    });
    </script>

</div>
{% endblock %}