<style>

    .fa-angle-double-down, .fa-angle-double-up{
        margin-right: 0.5rem;
    }

    .class-icone-content  {
        margin-right: 10px !important;;
        color: #007bff !important;;
    }

    .class-icone-button{
        margin-right: 10px !important;
        color: white !important;;
    }

    .btn-link {
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .container-check {
      position: relative;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      float: left;
    }

    /* Hide the browser's default checkbox */
    .container-check input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #eee;
      border: 1px solid gray;
    }


    /* When the checkbox is checked, add a blue background */
    .label-input-class input:checked ~ .checkmark {
      background-color: #007bff;
      border: 1px solid #007bff;
    }

    /* When the checkbox is checked, add a blue background */
    .label-input-class-disabled input:checked ~ .checkmark {
      background-color: gray;
      border: 1px solid gray;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container-check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container-check .checkmark:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .alternativa-padrao{
        margin-top: 10px;
        padding: .4rem 1rem;
        color: #383d41;
        background-color: rgba(0,0,0,.03);
        border-color: #d6d8db;
        margin-top: 10px;
        padding: .4rem 1rem;
    }

    .alternativa-incorreta {
        margin-top: 10px;
        padding: .4rem 1rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        margin-top: 10px;
        padding: .4rem 1rem;
        //background-color: rgba(0,0,0,.03);
    }

    .alternativa-correta {
        margin-top: 10px;
        padding: .4rem 1rem;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        margin-top: 10px;
        padding: .4rem 1rem;
    }

    .icone-correto {
        float: right;
        margin-top: 4px;
        color: green;
    }

    .icone-incorreto {
        float: right;
        margin-top: 4px;
        color: red;
    }

   .bd-example-modal-lg .modal-dialog{
      display: table;
      position: relative;
      margin: 0 auto;
      top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content{
      background-color: transparent;
      border: none;
    }

</style>

<div class="modal fade bd-example-modal-lg" id="modal-aguarde" id_conteudo="" tipo_conteudo="" status_conteudo="" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
            <span><b>Aguarde...</b></span>
        </div>
    </div>
</div>

<div class="modal modal-sem-alteracoes" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Questionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Responda todas as perguntas antes de enviar o questionário.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="conteudo-curso-container">

    <h4 class="text-center" id="titulo-video">{{ questionario.titulo }}</h4>

    <div class="container" style="padding: 0; margin-top: 20px;">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col text-center" id="botao-anterior-container" style="margin-bottom: 10px; padding: 0;">
              <span class="btn btn-primary"  id="botao-anterior" role="button" style="float: left; font-size: 1.2rem;" onclick="atualizaConteudo('{{ conteudo_anterior_url }}')">
                  <i class="fas fa-angle-double-left" ></i>
                   Anterior
              </span>
            </div>

            <div class="col text-center" id="botao-proximo-container" style="margin-bottom: 20px; padding: 0;">
              <span class="btn btn-primary" id="botao-proximo" role="button" style="float: right; font-size: 1.2rem;"  onclick="atualizaConteudo('{{ proximo_conteudo_url }}')">
                  Próximo
                  <i class="fas fa-angle-double-right"></i>
              </span>
            </div>
        </div>
    </div>

    {% if usuario_questionario is not none %}

        <div class="panel-group" id="accordion-resultado">

            <div class="card" style="margin-top: 10px;">
                <div class="card-header" id="heading-1" style="padding: .2rem 1rem; text-align-last: justify;">
                  <h5 class="mb-0">
                    <button class="btn btn-link link-unidade" style="font-size: 1.1rem;" onclick="expandeArea(this)" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                      <i class="fas fa-angle-double-down"></i>
                      Resultado atual
                    </button>

                  </h5>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-resultado">

                    <h5 class="text-center" style="margin-top: 12px;"><i class="fas fa-star class-icone-content"></i>Percentual de acertos: <span class="text-center" style="color:orange;"><b>{{ usuario_questionario.percentual_acertos}}</b></span></h5>

                    <hr/>

                    <h5 class="text-center" style="margin-bottom: 12px;"><i class="fas fa-edit class-icone-content"></i>Realizado em: <b>{{ usuario_questionario.data_execucao|date:"d/m/Y h:m:s"}}</b></h5>

                </div>
            </div>

        </div>

    {% endif %}

    {% if perfil_aluno == True %}
    <div class="container" style="padding: 0; margin-top: 15px;">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col text-center" style="margin-bottom: 5px; padding: 0;">
              <span class="btn btn-primary"  id="refazer" role="button" style="font-size: 1.2rem;" onclick="atualizaDados()">
                  <i class="fas fa-undo-alt" ></i>
                   Refazer
              </span>
            </div>
        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col text-center" style="margin-bottom: 5px; padding: 0;">
              <span class="btn btn-primary" id="enviar" role="button" style="font-size: 1.2rem;"  onclick="enviaForm()">
                  Enviar
                  <i class="fas fa-share-square"></i>
              </span>
            </div>
        </div>
    </div>
    {% endif %}

    <form action="/teste" method="POST" id="form-questionario">
        {% csrf_token %}

        {% for questao in questoes %}
            <div class="panel-group" id="accordion-questao-{{ questao.id }}">

                <div class="card card-questao" style="margin-top: 10px;">
                    <div class="card-header" id="heading-questao-{{ questao.id }}" style="padding: .2rem 1rem; text-align-last: justify;">
                      <h5 class="mb-0">
                        <button class="btn btn-link link-unidade"  style="margin-top: 5px; font-size: 1.1rem;" onclick="expandeArea(this)"  data-toggle="collapse" data-target="#collapse-questao-{{ questao.id }}" aria-expanded="true" aria-controls="collapse-questao-{{ questao.id }}">
                          <i class="fas fa-angle-double-down"></i>
                          Questão - {{ questao.ordem }}
                        </button>

                      </h5>
                    </div>
                    <div id="collapse-questao-{{ questao.id }}" class="collapse show" style="padding: 10px;" aria-labelledby="heading-questao-{{ questao.id }}" data-parent="#accordion-questao-{{ questao.id }}">

                        <span class="text-center"><b style="margin-left: 2px; font-size: 1.1rem;">{{ questao.enunciado }}</b></span>

                        {% for alternativa in alternativas %}

                            {% if alternativa.questao.id == questao.id %}
                                <div class="alert alternativa-padrao" role="alert">
                                    <label class="container-check label-input-class">
                                    {% if perfil_aluno == True %}
                                        {% for chave, valor in alternativas_dict.items %}
                                            {% if chave == alternativa.id %}
                                                {% if valor == True %}
                                                    <input class="input-radio" type="checkbox" checked="checked" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="{{ alternativa.correta }}">
                                                {% else %}
                                                    <input class="input-radio" type="checkbox" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                       <input class="input-radio" type="checkbox" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="">
                                    {% endif %}
                                        <span style="float: left; margin-top: 3px;"class="checkmark"></span>
                                    </label>
                                    <div style="margin-left: 25px;">
                                        {{ alternativa.descricao }}<i class="icone-alternativa"></i>
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}


    </form>

</div>

<script>

    //__ Obtém o tempo corrente do video que será exibido
    $(document).ready(function(){
        var inputs = document.getElementsByClassName("input-radio");
        {% if usuario_questionario is not none%}

            {% if questionario_sem_questoes == False%}
                {% if perfil_aluno == True %}
                    $("#enviar")[0].hidden = true;
                    $("#refazer")[0].hidden = false;
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = true;
                        $(inputs[i]).closest('label').addClass('label-input-class-disabled')

                        if($(inputs[i]).attr('correta') == "False") {
                            $(inputs[i]).closest('.alert').addClass('alternativa-incorreta')
                            $(inputs[i]).closest('.alert').find('.icone-alternativa').addClass('fas fa-times-circle icone-incorreto')

                        }
                        else {

                            if($(inputs[i]).attr('correta') == "True") {
                                $(inputs[i]).closest('.alert').addClass('alternativa-correta')
                                $(inputs[i]).closest('.alert').find('.icone-alternativa').addClass('fas fa-check-circle icone-correto')
                            }
                            else {
                                $(inputs[i]).closest('.alert').addClass('alternativa-padrao')
                            }
                        }
                    }
                {% else %}
                    $("#enviar")[0].hidden = true;
                    $("#refazer")[0].hidden = true;
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = true;
                        $(inputs[i]).closest('label').addClass('label-input-class-disabled')
                    }
                {% endif %}
            {% endif %}

        {% else %}

            {% if questionario_sem_questoes == False %}
                {% if perfil_aluno == True %}
                    $("#enviar")[0].hidden = false;
                    $("#refazer")[0].hidden = true
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = false;
                        inputs[i].checked = false;
                    }
                {% else %}
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = true;
                        $(inputs[i]).closest('label').addClass('label-input-class-disabled')
                    }
                {% endif %}
            {% endif %}

        {% endif %}

        if('{{ conteudo_anterior_url }}' != '') {
            $('#botao-anterior-container')[0].hidden = false;
        }
        else {
            $('#botao-anterior-container')[0].hidden = true;
        }

        if('{{ proximo_conteudo_url }}' != '') {
            $('#botao-proximo-container')[0].hidden = false;
        }
        else {
            $('#botao-proximo-container')[0].hidden = true;
        }
    })

    //__ Atualiza algumas informações na página
    function atualizaDados(){
        var inputs = document.getElementsByClassName("input-radio");
        for(let i = 0; i < inputs.length; i++){
            inputs[i].disabled = false;
            inputs[i].checked = false;
            $(inputs[i]).closest('label').removeClass('label-input-class-disabled')
            $(inputs[i]).closest('.alert').removeClass('alternativa-incorreta')
            $(inputs[i]).closest('.alert').find('.icone-alternativa').removeClass('fas fa-times-circle icone-incorreto')
            $(inputs[i]).closest('.alert').removeClass('alternativa-correta')
            $(inputs[i]).closest('.alert').find('.icone-alternativa').removeClass('fas fa-check-circle icone-correto')
        }
        $("#refazer")[0].hidden = true
        $("#enviar")[0].hidden = false
    }


    $('form').submit(function(e) {
        e.preventDefault();
        event.stopImmediatePropagation();
    });

    //__ Tratamento para envio de informações ao backend via AJAX
    function enviaForm() {
        $($($('.card-questao')[0]).find('.alert')[1]).find('input').attr('checked')
        questoes = $('.card-questao')
        tem_resposta = false
        for (let i = 0; i < questoes.length; i++) {

            alternativas = $(questoes[i]).find('.alert')

            tem_resposta = false
            for (let j = 0; j < alternativas.length; j++) {

                checked = $(alternativas[j]).find('input').prop('checked')
                if(checked) {
                    tem_resposta = true
                    break;
                }
            }

            if (tem_resposta == false) {
                $('.modal-sem-alteracoes').modal('show');
                break;
            }
        }
        if(tem_resposta) {
            $('#modal-aguarde').modal('show');
        }
    };

    //__ Atualiza algumas informações na página
    function atualizaConteudo(url){

        $.ajax(
        {
            type:"GET",
            url: url,
            data:{
                'origem': 'questionario'
            },
            success: function( data )
            {
                $(".conteudo-curso-container").replaceWith(data);
                window.history.pushState({route: url}, "Questionário", url);
            }
        })
    }

    $('#modal-aguarde').on('shown.bs.modal', function () {
        var $formData = $('#form-questionario').serialize()

        var $thisURL = $(this).attr('data-url') || window.location.href

        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: function (data, textStatus, jqXHR) {
                $(".conteudo-curso-container").replaceWith(data);

                var inputs = document.getElementsByClassName("input-radio");
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                }
                $("#refazer")[0].hidden = false
                $("#enviar")[0].hidden = true
                $('#modal-aguarde').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
                $('#modal-aguarde').modal('hide');
            }
        })
    })


    function expandeArea(elemento){
      if($($($(elemento).closest('.card-header')).siblings()[0]).hasClass('show')){
        $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
      }
      else {
        $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
      }

    }  

    $('input[type="checkbox"]').on('click', function(event) {

        inputs = $('#collapse-questao-'+ $(this).attr('questao_id')).find('input[type="checkbox"]')
       
        for(let i = 0; i < inputs.length; i++){
            if(inputs[i] !== this) {
                $(inputs[i]).prop('checked', false);
            }
        }        
       

    });
       

</script>