{% extends 'pagina-inicial.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>

        .fa-angle-double-down, .fa-angle-double-up{
            margin-right: 0.5rem;
        }

        .class-icone-content  {
            margin-right: 10px;
            color: #007bff;
        }

        .class-icone-button{
            margin-right: 10px;
            color: white;
        }

        .btn-link {
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        .container-check {
          position: relative;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          float: left;
        }

        /* Hide the browser's default checkbox */
        .container-check input {
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          background-color: #eee;
          border: 1px solid gray;
        }


        /* When the checkbox is checked, add a blue background */
        .label-input-class input:checked ~ .checkmark {
          background-color: #007bff;
          border: 1px solid #007bff;
        }

        /* When the checkbox is checked, add a blue background */
        .label-input-class-disabled input:checked ~ .checkmark {
          background-color: gray;
          border: 1px solid gray;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container-check input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .container-check .checkmark:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .alternativa-padrao{
            margin-top: 10px;
            padding: .4rem 1rem;
            color: #383d41;
            background-color: rgba(0,0,0,.03);
            border-color: #d6d8db;
            margin-top: 10px;
            padding: .4rem 1rem;
        }

        .alternativa-incorreta {
            margin-top: 10px;
            padding: .4rem 1rem;
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            margin-top: 10px;
            padding: .4rem 1rem;
            //background-color: rgba(0,0,0,.03);
        }

        .alternativa-correta {
            margin-top: 10px;
            padding: .4rem 1rem;
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
            margin-top: 10px;
            padding: .4rem 1rem;
        }


    </style>

{% endblock %}

{% block title %} {{questionario.titulo}} {% endblock %}

{% block content_page %}

    <div class="offset-1 col-10 list-div">

        {% include  'core/questionario-conteudo.html' %}

    </div>

{% endblock %}