
<div class="conteudo-curso-container">

    <h4 class="text-center" id="titulo-video">{{ questionario.titulo }}</h4>

    <div class="container" style="padding: 0; margin-top: 20px;">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col text-center" id="botao-anterior-container" style="margin-bottom: 10px; padding: 0;">
              <span class="btn btn-primary"  id="botao-anterior" role="button" style="float: left; font-size: 1.2rem;" onclick="atualizaConteudo('{{ conteudo_anterior_url }}')">
                  <i class="fas fa-angle-double-left" ></i>
                   Anterior
              </span>
            </div>

            <div class="col text-center" id="botao-proximo-container" style="margin-bottom: 20px; padding: 0;">
              <span class="btn btn-primary" id="botao-proximo" role="button" style="float: right; font-size: 1.2rem;"  onclick="atualizaConteudo('{{ proximo_conteudo_url }}')">
                  Próximo
                  <i class="fas fa-angle-double-right"></i>
              </span>
            </div>
        </div>
    </div>

    <form action="/teste" method="POST" id="form-questionario">
        {% csrf_token %}

        {% for questao in questoes %}
            <div class="panel-group" id="accordion-questao-{{ questao.id }}">

                <div class="card" style="margin-top: 10px;">
                    <div class="card-header" id="heading-questao-{{ questao.id }}" style="padding: .2rem 1rem; text-align-last: justify;">
                      <h5 class="mb-0">
                        <button class="btn btn-link link-unidade"  style="margin-top: 5px; font-size: 1.1rem;" onclick="expandeArea(this)"  data-toggle="collapse" data-target="#collapse-questao-{{ questao.id }}" aria-expanded="true" aria-controls="collapse-questao-{{ questao.id }}">
                          <i class="fas fa-angle-double-down"></i>
                          Questão - {{ questao.ordem }}
                        </button>

                      </h5>
                    </div>
                    <div id="collapse-questao-{{ questao.id }}" class="collapse show" style="padding: 10px;" aria-labelledby="heading-questao-{{ questao.id }}" data-parent="#accordion-questao-{{ questao.id }}">

                        <span class="text-center"><b style="margin-left: 2px; font-size: 1.1rem;">{{ questao.enunciado }}</b></span>

                        {% for alternativa in alternativas %}

                            {% if alternativa.questao.id == questao.id %}
                                <div class="alert alternativa-padrao" role="alert">
                                    <label class="container-check label-input-class">
                                    {% if perfil_aluno == True %}
                                        {% for chave, valor in alternativas_dict.items %}
                                            {% if chave == alternativa.id %}
                                                {% if valor == True %}
                                                    <input class="input-radio" type="checkbox" checked="checked" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="{{ alternativa.correta }}">
                                                {% else %}
                                                    <input class="input-radio" type="checkbox" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                       <input class="input-radio" type="checkbox" id="input-questao-{{ questao.id }}-alternativa-{{ alternativa.ordem }}" questao_id="{{ questao.id }}" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" correta="">
                                    {% endif %}
                                        <span style="float: left; margin-top: 3px;"class="checkmark"></span>
                                    </label>
                                    <div style="margin-left: 25px;">
                                        {{ alternativa.descricao }}<i class="icone-alternativa"></i>
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <input id="refazer" type="button" name="refazer" class="btn btn-success" value="Refazer"  onclick="atualizaDados()">
        <input id="enviar" type="button" name="enviar" class="btn btn-success" value="Enviar"  onclick="enviaForm()">
    </form>

    <script>

        //__ Obtém o tempo corrente do video que será exibido
        $(document).ready(function(){
            var inputs = document.getElementsByClassName("input-radio");
            {% if usuario_questionario is not none and perfil_aluno == True%}

                {% if questionario_sem_questoes == False%}
                    $("#enviar")[0].hidden = true;
                    $("#refazer")[0].hidden = false;
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = true;
                        $(inputs[i]).closest('label').addClass('label-input-class-disabled')

                        if($(inputs[i]).attr('correta') == "False") {
                            $(inputs[i]).closest('.alert').addClass('alternativa-incorreta')
                            $(inputs[i]).closest('.alert').find('.icone-alternativa').addClass('fas fa-times-circle icone-incorreto')

                        }
                        else {

                            if($(inputs[i]).attr('correta') == "True") {
                                $(inputs[i]).closest('.alert').addClass('alternativa-correta')
                                $(inputs[i]).closest('.alert').find('.icone-alternativa').addClass('fas fa-check-circle icone-correto')
                            }
                            else {
                                $(inputs[i]).closest('.alert').addClass('alternativa-padrao')
                            }
                        }
                    }
                {% endif %}

            {% else %}

                {% if questionario_sem_questoes == False and perfil_aluno == True %}
                    $("#enviar")[0].hidden = false;
                    $("#refazer")[0].hidden = true
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = false;
                        inputs[i].checked = false;
                    }
                {% endif %}

            {% endif %}

            if('{{ conteudo_anterior_url }}' != '') {
                $('#botao-anterior-container')[0].hidden = false;
            }
            else {
                $('#botao-anterior-container')[0].hidden = true;
            }

            if('{{ proximo_conteudo_url }}' != '') {
                $('#botao-proximo-container')[0].hidden = false;
            }
            else {
                $('#botao-proximo-container')[0].hidden = true;
            }
        })

        //__ Atualiza algumas informações na página
        function atualizaDados(){
            var inputs = document.getElementsByClassName("input-radio");
            for(let i = 0; i < inputs.length; i++){
                inputs[i].disabled = false;
                inputs[i].checked = false;
                $(inputs[i]).closest('label').removeClass('label-input-class-disabled')
                $(inputs[i]).closest('.alert').removeClass('alternativa-incorreta')
                $(inputs[i]).closest('.alert').find('.icone-alternativa').removeClass('fas fa-times-circle icone-incorreto')
                $(inputs[i]).closest('.alert').removeClass('alternativa-correta')
                $(inputs[i]).closest('.alert').find('.icone-alternativa').removeClass('fas fa-check-circle icone-correto')
            }
            $("#refazer")[0].hidden = true
            $("#enviar")[0].hidden = false
        }


        $('form').submit(function(e) {
            e.preventDefault();
            event.stopImmediatePropagation();
        });

        //__ Tratamento para envio de informações ao backend via AJAX
        function enviaForm() {
            var $formData = $('#form-questionario').serialize()

            var $thisURL = $(this).attr('data-url') || window.location.href

            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })

            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                $(".conteudo-curso-container").replaceWith(data);
                var inputs = document.getElementsByClassName("input-radio");
                for(let i = 0; i < inputs.length; i++){
                    inputs[i].disabled = true;
                }
                $("#refazer")[0].hidden = false
                $("#enviar")[0].hidden = true
            }

            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
        };

        //__ Atualiza algumas informações na página
        function atualizaConteudo(url){

            $.ajax(
            {
                type:"GET",
                url: url,
                data:{
                    'origem': 'questionario'
                },
                success: function( data )
                {
                    $(".conteudo-curso-container").replaceWith(data);
                    window.history.pushState({route: url}, "Questionário", url);
                }
            })
        }


        function expandeArea(elemento){
          if($($($(elemento).closest('.card-header')).siblings()[0]).hasClass('show')){
            $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
          }
          else {
            $($(elemento).find('.fas')[0]).removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
          }

        }  

        $('input[type="checkbox"]').on('click', function(event) {

            inputs = $('#collapse-questao-'+ $(this).attr('questao_id')).find('input[type="checkbox"]')
           
            for(let i = 0; i < inputs.length; i++){
                if(inputs[i] !== this) {
                    $(inputs[i]).prop('checked', false);
                }
            }        
           

        });
       

    </script>
</div>