
<div class="conteudo-curso-container">

    <p id="botao-anterior-container">
        <span>
            <i class="fas fa-arrow-left" onclick="atualizaConteudo('{{ conteudo_anterior_url }}')"></i>
        </span>
    </p>

    <p id="botao-proximo-container">
        <span>
            <i class="fas fa-arrow-right" onclick="atualizaConteudo('{{ proximo_conteudo_url }}')"></i>
        </span>
    </p>

    <h2>{{questionario.titulo}}</h2>

    <form action="" method="POST">
        {% csrf_token %}

        {% if usuario_questionario is not none %}
            <div class="resultado-atual">
                <p>Resultado atual</p>
                <p>Nota: {{ usuario_questionario.percentual_acertos}}</p>
                <p>Data: {{ usuario_questionario.data_execucao}}</p>
            </div>
        {% endif %}

        {% for questao in questoes %}
        <p><strong>{{questao.ordem}} - {{ questao.enunciado }}</strong></p>
            <ul>
            {% for alternativa in alternativas %}

                {% if alternativa.questao.id == questao.id %}
                    <li>
                       {% if perfil_aluno == True %}
                           {% for chave, valor in alternativas_dict.items %}
                               {% if chave == alternativa.id %}
                                    {% if valor == True %}
                                        <input class="input-radio" type="radio" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" checked="checked">{{ alternativa.descricao }}</input>
                                    {% else %}
                                        <input class="input-radio" type="radio" name="questao-{{ questao.id }}" value="{{ alternativa.id }}">{{ alternativa.descricao }}</input>
                                    {% endif %}
                               {% endif %}
                           {% endfor %}
                       {% else %}
                           <input class="input-radio" type="radio" name="questao-{{ questao.id }}" value="{{ alternativa.id }}" disabled="true">{{ alternativa.descricao }}</input>
                       {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}

        <input id="refazer" type="button" name="refazer" class="btn btn-success" value="Refazer" hidden="true" onclick="atualizaDados()">
        <input id="enviar" type="submit" name="enviar" class="btn btn-success" value="Enviar" hidden="true">
    </form>

    <script>

        //__ Obtém o tempo corrente do video que será exibido
        $(document).ready(function(){
            var inputs = document.getElementsByClassName("input-radio");
            {% if usuario_questionario is not none and perfil_aluno == True%}

                {% if questionario_sem_questoes == False%}
                    $("#enviar")[0].hidden = true;
                    $("#refazer")[0].hidden = false;
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = true;
                    }
                {% endif %}

            {% else %}

                {% if questionario_sem_questoes == False and perfil_aluno == True %}
                    $("#enviar")[0].hidden = false;
                    $("#refazer")[0].hidden = true
                    for(let i = 0; i < inputs.length; i++){
                        inputs[i].disabled = false;
                        inputs[i].checked = false;
                    }
                {% endif %}

            {% endif %}

            if('{{ conteudo_anterior_url }}' != '') {
                $('#botao-anterior-container')[0].hidden = false;
            }
            else {
                $('#botao-anterior-container')[0].hidden = true;
            }

            if('{{ proximo_conteudo_url }}' != '') {
                $('#botao-proximo-container')[0].hidden = false;
            }
            else {
                $('#botao-proximo-container')[0].hidden = true;
            }
        })

        //__ Atualiza algumas informações na página
        function atualizaDados(){
            var inputs = document.getElementsByClassName("input-radio");
            for(let i = 0; i < inputs.length; i++){
                inputs[i].disabled = false;
                inputs[i].checked = false;
            }
            $("#refazer")[0].hidden = true
            $("#enviar")[0].hidden = false
        }

        //__ Tratamento para envio de informações ao backend via AJAX
        $('form').submit(function(e){
            e.preventDefault();

            var $formData = $(this).serialize()
            var $thisURL = $(this).attr('data-url') || window.location.href
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })

            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                $(".conteudo-curso-container").replaceWith(data);
                var inputs = document.getElementsByClassName("input-radio");
                for(let i = 0; i < inputs.length; i++){
                    inputs[i].disabled = true;
                }
                $("#refazer")[0].hidden = false
                $("#enviar")[0].hidden = true
            }

            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
        });

        //__ Atualiza algumas informações na página
        function atualizaConteudo(url){

            $.ajax(
            {
                type:"GET",
                url: url,
                data:{
                    'origem': 'questionario'
                },
                success: function( data )
                {
                    $(".conteudo-curso-container").replaceWith(data);
                    window.history.pushState({route: url}, "Questionário", url);
                }
            })
        }

    </script>
</div>