{% extends 'pagina-inicial.html' %}

{% load crispy_forms_tags %}

{% block title %} {{tituloPagina}} {% endblock %}

{% block content_page %}
<div class="col-12 list-div">

    <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03); padding: 0;">
        <h2 class="text-center" style="margin-top: 5px;">{{tituloPagina}}</h2>
    </div>

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="col text-center">
            <a href="/{{ nomeLinkRedirecionamento }}" class="btn btn-primary" role="button" title="Retorna para a lista de registros">
                <i class="fas fa-list class-icone-button"></i>
                    Lista de registros
            </a>
        </div>
    </div>

    <form method="POST" form enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col text-center">
                <input type="submit" class="btn btn-success" value="Salvar" title="Persiste na base de dados o novo registro">
            </div>
        </div>

    </form>
</div>
{% endblock %}

