{% extends 'pagina-inicial.html' %}

{% block title %} Lista de {{tituloPagina}} {% endblock %}

{% block content_page %}
<div class="col-12 list-div">
    <h2 class="text-center">Lista de {{tituloPagina}}</h2>

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="col text-center" style="margin-top: 20px; margin-bottom: 10px;">
          <a href="/adiciona-{{nomeLink}}/" class="btn btn-primary btn-lg" role="button">
              <i class="fas fa-plus class-icone-button"></i>
                  Adicionar
          </a>
        </div>
    </div>

    <div class="col-12 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search"
                   placeholder="Digite um nome para buscar"
                   value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li
                    {% if message.tags %}
                        class="alert alert-{{message.tags }}"
                    {% endif %}
                >
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="itens-lista">
        {% for objeto in objetos %}
            <li class="item-lista">
                <div >
                    <span><a href="/edita-{{nomeLink}}/{{objeto.id}}">{{ objeto }}</a></span>
                    <a href="/remove-{{nomeLink}}/{{ objeto.id }}" class="delete-btn"><span><i class="fas fa-trash" style="margin-right: 15px;"></i></span></a>
                    <a href="/edita-{{nomeLink}}/{{ objeto.id }}"><span><i class="fas fa-edit" style="cursor: pointer; margin: 5px; margin-right: 30px; font-size: 20px; float: right; color: green;"></i></span></a>
                </div>
            </li>
            <hr/>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            <span>
                {% if objetos.has_previous %}
                    <a href="?page={{ objetos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}

                {% if objetos.paginator.num_pages %}
                <span class="current">
                    {{ objetos.number }} de {{ objetos.paginator.num_pages }}
                </span>
                {% endif %}

                {% if objetos.has_next %}
                    <a href="?page={{ objetos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </span>
    </div>
</div>
{% endblock %}