{% extends 'base.html' %}

{% block title %}Relatório acompanhamento{%endblock %}

{% block content %}

    <select id="select-alunos" name="alunos">
        {% for user in usuarios %}
            {% if usuario != None and usuario.id == user.id %}
                <option value="{{ user.id }}" selected="selected">{{ user.get_full_name }}</option>
            {% else %}
                <option value="{{ user.id }}">{{ user.get_full_name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    {% include  'core/conteudo-relatorio.html' %}

    <script>
        //__ Função responsável por obter os dados do relatório via AJAX
        function geraRelatorio(){
            var opcao_selecionada = $('#select-alunos').children("option:selected").val();

            $.ajax(
            {
                type:"GET",
                url: '/relatorio-usuario',
                data:{
                    'usuario_id': opcao_selecionada,
                },
                success: function( data )
                {
                    $(".conteudo-relatorio-container").replaceWith(data);
                    let url_aux = '/relatorio-acompanhamento/?usuario=' + opcao_selecionada;
                    window.history.pushState({route: url_aux}, "Relatório", url_aux);
                    //window.location.href = '/relatorio-acompanhamento/?usuario=' + opcao_selecionada;
                }
            })
        }
    </script>
    <p><span><i class="fas fa-arrow-right" onclick="geraRelatorio()"></i></span></p>
{% endblock %}