{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{video.titulo}} {% endblock %}

{% block content %}

<script src="http://www.youtube.com/player_api"></script>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="offset-1 col-10 list-div">

    {% if tipo_video == 'interno' %}
        {% include  'video-interno-player.html' %}
    {% endif %}

    {% if tipo_video == 'youtube' %}
        {% include  'youtube-player.html' %}
    {% endif %}

    {% if tipo_video == 'vimeo' %}
        {% include  'vimeo-player.html' %}
    {% endif %}

</div>

<script>
    //__ Função para atualizar algumas informações na página
    function atualizaConteudo(url){

        $.ajax(
        {
            type:"GET",
            url: url,
            data:{
            },
            success: function( data )
            {
                $(".conteudo-curso-container").replaceWith(data);
                window.history.pushState({route: url}, "Video", url);
            }
        })
    }

</script>
{% endblock %}