
<div class="conteudo-curso-container">

    <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03); padding: 0;">
        <div class="container" style="padding: 0; margin-top: 5px; margin-bottom: 5px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

                        <div class="col-sm-3 text-center" id="botao-anterior-container" style="margin-bottom: 5px;">
                          <span class="btn btn-primary botao-navegacao"  id="botao-anterior" role="button" onclick="atualizaConteudo('{{ conteudo_anterior_url }}', -1)" title="Retorna para conteúdo anterior">
                              <i class="fas fa-angle-double-left" ></i>
                               Anterior
                          </span>
                        </div>

                        <div class="col-sm-3 text-center" id="botao-conteudo-curso" style="margin-bottom: 5px;">
                          <a href="/conteudo-curso/{{video.unidade.curso.id}}#conteudo-curso" class="btn btn-primary botao-navegacao" id="botao-conteudo" role="button" title="Retorna para página de conteúdos do curso">
                              <i class="fab fa-contao "></i>
                              Conteúdos
                          </a>
                        </div>

                        <div class="col-sm-3 text-center" id="botao-proximo-container" style="margin-bottom: 5px;">
                          <span class="btn btn-primary botao-navegacao" id="botao-proximo" role="button" onclick="atualizaConteudo('{{ proximo_conteudo_url }}', 1)" title="Avança para próximo conteúdo">
                              Próximo
                              <i class="fas fa-angle-double-right"></i>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03); padding: 0px;">
        <h4 class="text-center" id="titulo-video" style="margin-top: 10px;">{{ titulo_video }}</h4>
    </div>

    <div class="embed-responsive embed-responsive-16by9" id="player-container">

    </div>

    <script id="script-video">

        var player_youtube;
        var player_vimeo;
        var youtube_video_link = ""
        var youtube_video_tempo_corrente = 0;
        var tempo_corrente_video = 0;
        var video_corrente_assistido = false;
        var usuario_video_corrente_id = 0;
        var tipo_video_corrente = "";
        var conteudo_anterior_nome = "";
        var prox_conteudo_nome = "";

        function criaVideoYoutube(caminho_video) {
            $('#player-container')[0].innerHTML = ""
            $('#player-container').addClass('embed-responsive')
            $('#player-container').addClass('embed-responsive-16by9')

            youtube_video_link = caminho_video;

             if(caminho_video != "None" && caminho_video != null && caminho_video != "") {
                $('#player-container').append(
                    '<iframe class="player-iframe" id="media-player" src="' + youtube_video_link + '" allowfullscreen="true" ></iframe>'
                );
             }
             else {
                $('#player-container')[0].innerHTML = '<div class="alert alert-danger alert-dismissable" id="arquivo-nao-existe"><a href="#" data-dismiss="alert" aria-label="close"></a><strong>Vídeo não encontrado.</strong></div>'
                $('#player-container').removeClass('embed-responsive')
                $('#player-container').removeClass('embed-responsive-16by9')
             }
        }

        function criaVideoVimeo(caminho_video) {
            $('#player-container')[0].innerHTML = ""
            $('#player-container').addClass('embed-responsive')
            $('#player-container').addClass('embed-responsive-16by9')

             if(caminho_video != "None" && caminho_video != null && caminho_video != "") {
                $('#player-container').append(
                    '<iframe class="player-iframe" id="media-player" src="' + caminho_video + '" allowfullscreen></iframe>'
                );
             }
             else {
                $('#player-container')[0].innerHTML = '<div class="alert alert-danger alert-dismissable" id="arquivo-nao-existe"><a href="#" data-dismiss="alert" aria-label="close"></a><strong>Vídeo não encontrado.</strong></div>'
                $('#player-container').removeClass('embed-responsive')
                $('#player-container').removeClass('embed-responsive-16by9')
             }
        }

        function criaVideoGenerico(caminho_video) {
            if(caminho_video != "None" && caminho_video != null && caminho_video != "") {
                $('#player-container').append(
                    '<iframe class="player-iframe" id="media-player" src="' + caminho_video + '" allowfullscreen></iframe>'
                );
             }
             else {
                $('#player-container')[0].innerHTML = '<div class="alert alert-danger alert-dismissable" id="arquivo-nao-existe"><a href="#" data-dismiss="alert" aria-label="close"></a><strong>Vídeo não encontrado.</strong></div>'
                $('#player-container').removeClass('embed-responsive')
                $('#player-container').removeClass('embed-responsive-16by9')
             }
        }

        //__ Obtém o tempo corrente do video que será exibido
        $(document).ready(function(){
            console.log("Onready");

            usuario_video_corrente_id = {{ usuario_video_id }};
            tipo_video_corrente       = '{{ tipo_video }}';
            conteudo_anterior_nome    = '{{ conteudo_anterior_nome }}';
            prox_conteudo_nome        = '{{ prox_conteudo_nome }}';

            if('{{ tipo_video }}' == 'youtube') {
                criaVideoYoutube('{{ caminho_video }}')
            }
            else {
                if('{{ tipo_video }}' == 'vimeo') {
                    criaVideoVimeo('{{ caminho_video }}')
                }
                else {
                    if('{{ tipo_video }}' == 'interno') {
                        criaVideoGenerico('{{ arquivo_media_url }}')
                    }
                    else {
                        criaVideoGenerico('{{ caminho_video }}')
                    }
                }
            }

            if('{{ conteudo_anterior_url }}' != '') {
                $('#botao-anterior-container')[0].hidden = false;
            }
            else {
                $('#botao-anterior-container')[0].hidden = true;
            }

            if('{{ proximo_conteudo_url }}' != '') {
                $('#botao-proximo-container')[0].hidden = false;
            }
            else {
                $('#botao-proximo-container')[0].hidden = true;
            }

            $('#titulo-video')[0].innerHTML = '{{ titulo_video }}';

            window.history.pushState({route: '{{ url_corrente }}'}, "Video", '{{ url_corrente  }}');

        })


        function onYouTubePlayerAPIReady() {

            $('#player-container').append(
                '<iframe class="player-iframe" id="media-player" src="' + youtube_video_link + '?enablejsapi=1" allowfullscreen="true" ></iframe>'
            );

            player_youtube = new YT.Player('media-player' , {
                events: { 'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange }
            });
        };

        window.addEventListener("popstate", event => {
            console.log( "popstate" )
            if(event && event.state && event.state.route) {

              atualizaConteudo(event.state.route, 0)

            }
            else {
                history.back();
            }
        });

        function atualizaConteudo(url, sentido){

            $.ajax(
            {
                type:"GET",
                url: url,
                data:{
                    'origem': 'video'
                },
                success: function( data )
                {

                    if(
                        (sentido == -1 && conteudo_anterior_nome =='video') ||
                        (sentido == 1  && prox_conteudo_nome =='video' || sentido == 0)
                    ) {
                        $("#src-video").remove();
                        $("#media-player").remove();
                        //$("#video_interno").remove();

                        tipo_video_corrente  = data['tipo_video']

                        if(data['tipo_video'] == 'youtube'){
                            criaVideoYoutube(data['caminho_video'])
                        }
                        else{
                            if(data['tipo_video'] == 'vimeo'){
                                criaVideoVimeo(data['caminho_video'])
                            }
                            else{
                                if(data['tipo_video'] == 'interno'){
                                    criaVideoGenerico(data['arquivo_media_url'])
                                }
                                else{
                                    criaVideoGenerico(data['arquivo_media_url'])
                                }
                            }
                        }

                        usuario_video_corrente_id = data['usuario_video_id']
                        conteudo_anterior_nome    = data['conteudo_anterior_nome'];
                        prox_conteudo_nome        = data['prox_conteudo_nome'];

                        if(data['conteudo_anterior_url'] != '') {
                            $('#botao-anterior').attr('onclick', "atualizaConteudo('" + data['conteudo_anterior_url'] + "', -1)")
                            $('#botao-anterior-container')[0].hidden = false;
                        }
                        else {
                            $('#botao-anterior-container')[0].hidden = true;
                        }

                        if(data['proximo_conteudo_url'] != '') {
                            $('#botao-proximo').attr('onclick', "atualizaConteudo('" + data['proximo_conteudo_url'] + "', 1)")
                            $('#botao-proximo-container')[0].hidden = false;
                        }
                        else {
                            $('#botao-proximo-container')[0].hidden = true;
                        }
                        $('#titulo-video')[0].innerHTML = data['titulo_video'];
                    }
                    else {
                        $(".conteudo-curso-container").replaceWith(data);
                    }

                    if(sentido != 0) {
                        window.history.pushState({route: url}, "Video", url);
                    }
                }
            })
        }

    </script>
</div>