{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{video.titulo}} {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
    <h2>{{video.titulo}}</h2>


    {% if tipo_video == 'interno' %}
        <video id="video_interno" style="width:400px;max-width:100%;" frameborder="0" controls="controls" tabindex="0" >
          <source src="../media/{{ caminho_video }}" type="video/mp4">
          <source src="../media/{{ caminho_video }}" type="video/ogg">
          <source src="../media/{{ caminho_video }}" type="video/webm">
        Seu browser não suporta o formato para reprodução do vídeo.
        </video>
    {% else %}

        <div class="player-container">
            <iframe id="player" width="420" height="315"
                    src="{{ caminho_video }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    {% endif %}

    {% if tipo_video == 'interno' %}
        {% include  'video_interno_player.html' %}
    {% endif %}

    {% if tipo_video == 'youtube' %}
        {% include  'youtube_player.html' %}
    {% endif %}

    {% if tipo_video == 'vimeo' %}
        {% include  'vimeo_player.html' %}
    {% endif %}
</div>
{% endblock %}