{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{questionario.titulo}} {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">

    {% include  'conteudo_questionario.html' %}

</div>

<script>
    function atualizaConteudo(url){

        $.ajax(
        {
            type:"GET",
            url: url,
            data:{
            },
            success: function( data )
            {
                $(".conteudo-curso-container").replaceWith(data);
                window.history.pushState({route: url}, "Questionário", url);
            }
         })
    }



</script>
{% endblock %}