{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{video.titulo}} {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">

    {% if tipo_video == 'interno' %}
        {% include  'video_interno_player.html' %}
    {% endif %}

    {% if tipo_video == 'youtube' %}
        {% include  'youtube_player.html' %}
    {% endif %}

    {% if tipo_video == 'vimeo' %}
        {% include  'vimeo_player.html' %}
    {% endif %}

</div>

<script>
    function atualizaConteudo(url){

        $.ajax(
        {
            type:"GET",
            url: url,
            data:{
            },
            success: function( data )
            {
                $(".conteudo-curso-container").replaceWith(data);
                window.history.pushState({route: url}, "Video", url);
            }
         })
    }

</script>
{% endblock %}