{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{video.titulo}} {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
    <h2>{{video.titulo}}</h2>


    {% if tipo_video == 'interno' %}
        <video id="video_interno"  controls="controls" tabindex="0" >
          <source src="../media/{{ caminho_video }}" type="video/mp4">
          <source src="../media/{{ caminho_video }}" type="video/ogg">
          <source src="../media/{{ caminho_video }}" type="video/webm">
        Seu browser não suporta o formato para reprodução do vídeo.
        </video>
    {% else %}

        <div class="player-container">
            <iframe class="player-iframe" id="player"
                    src="{{ caminho_video }}"
                    gesture="media"  allow="encrypted-media" allowfullscreen>
            </iframe>
        </div>

    {% endif %}

    {% if tipo_video == 'interno' %}
        {% include  'video_interno_player.html' %}
    {% endif %}

    {% if tipo_video == 'youtube' %}
        {% include  'youtube_player.html' %}
    {% endif %}

    {% if tipo_video == 'vimeo' %}
        {% include  'vimeo_player.html' %}
    {% endif %}
</div>
{% endblock %}