{% extends  'base-home-page.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <style>

            html,
            body {
              height: 100%;
            }

            #page-content {
              flex: 1 0 auto;
              margin-top: 40px;
            }

            #sticky-footer {
              flex-shrink: none;
            }

            .class-icone {
              margin-right: 10px;
            }

            .navbar-dark {
                background-color: #343a40;
            }


    </style>

{% endblock %}

{% block title %}Entrar no sistema{% endblock %}

{% block conteudo-home-page %}

    <div class="row h-100" style="margin-top: 40px; margin-left: 20px; margin-right: 20px;">
       <div class="col-md-4 offset-md-4 my-auto">
         <div class="card">
             <div class="card-header text-center">
                 <h4><span><i class="fas fa-university class-icone"></i>SIT - WEB</span></h4>
             </div>
             <div class="card-body">
                 <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                 </form>
             </div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
                    <h6>Não tem uma conta?</h6>
				</div>
                 <h6 class="text-center"><a href="/accounts/register"> Clique aqui</a></h6>
			</div>

         </div>
       </div>
    </div>

{% endblock %}
