{% extends  'base-home-page.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar no Sistema{% endblock %}

{% block conteudo-home-page %}

    <div class="row h-100">
       <div class="col-md-4 offset-md-4 my-auto">
         <div class="card card-block">
             <h4 class="card-title text-center">Entrar no Sistema de Treinamentos</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <p class="change-form-p">
                Quer criar uma conta?
                <a href="/accounts/register">Clique aqui</a>
            </p>
         </div>
       </div>
    </div>

{% endblock %}
