{% extends  'pagina-inicial.html' %}
{% load crispy_forms_tags %}

{% block title %}Edição de usuário{% endblock %}

{% block content_page %}

        <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03); padding: 0;">
            <h2 class="text-center" style="margin-top: 5px;">Informações de cadastro</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}

            {% if perfil_administrador == False %}
                <label>Senha de acesso</label>
                <p><a href="/accounts/password_change">Clique aqui para acessar o formuário de troca de senha</a></p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Confirmar alterações</button>
        </form>
 {% endblock %}