{% extends  'pagina-inicial.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content_page %}
    <div class="card-body">
        <h4 class="card-title text-center">Informações de cadastro</h4>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}

            <label>Senha de acesso</label>
            <p><a href="/accounts/password_change">Clique aqui para acesser o formuário de troca de senha</a></p>

            <button type="submit" class="btn btn-primary">Confirmar alterações</button>
        </form>
    </div>
{% endblock %}