{% extends 'pagina-inicial.html' %}

{% load crispy_forms_tags %}

{% block title %} Novo usuário {% endblock %}

{% block content_page %}
<div class="col-12 list-div">
    <div class="alert alert-secondary" role="alert" style="background-color: rgba(0,0,0,.03); padding: 0;">
        <h2 class="text-center" style="margin-top: 5px;">Novo usuário</h2>
    </div>

    <form method="POST" form enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success btn-lg" value="Criar">
    </form>
</div>
{% endblock %}