{% extends  'base-home-page.html' %}
{% load static %}

{% block title %}SIT - WEB{% endblock %}

{% block conteudo-home-page %}
    <header>
      <div class="overlay"></div>
      <img src="{% static 'imagens/imagem-0.jpg'%}" alt="Italian Trulli">
      <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                  <h1 class="display-3" style="font-weight: bold;">SIT - WEB</h1>
                  <p class="lead mb-0" style="font-weight: bold;">Sistema Institucional de Treinamentos</p>
                  <div class="col text-center" style="margin-bottom: 0px;">
                      <a style="background-color: rgba(0,0,0,0.8); border-color: white; margin-top: 20px;" href="/cursos" class="btn btn-primary btn-lg" role="button" title="Acessa lista de cursos disponíveis no sistema">
                          <i class="fas fa-angle-double-right class-icone-button"></i>
                              Cursos disponíveis
                      </a>
                  </div>

              </div>
          </div>
      </div>
    </header>

    <div id="page-content">
        <section class="py-4">
          <div class="container">
            <h1 class="font-weight-light">Sistema Institucional de Treinamentos</h1>
            <p class="lead">O SIT - WEB é uma plataforma de treinamentos on-line que visa agregar valor tanto para instituições(empresas) que desejam ter o total controle dos cursos oferecidos
                e acompanhamento de desempenho de seus colaboradores, como também para os próprios colaboradores, através de um sistema de interface amigável e responsiva. </p>
          </div>
        </section>
    </div>
{% endblock %}