{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Lista de cadastros{% endblock %}

{% block body %}

<body>
    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><i class="fas fa-university class-icone" style="margin-right: 10px;"></i>SIT - WEB</h3>
                <strong>SW</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a class="class-link" href="/">
                        <i class="fas fa-home class-icon"></i>
                        Início
                    </a>
                </li>
                <li>
                <li>
                    <a class="class-link" href="/cursos">
                        <i class="fas fa-list-alt class-icon"></i>
                        Lista de Cursos
                    </a>
                </li>
                </li>
                <li>
                    {% if perfil_administrador == True or perfil_instrutor == True %}
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle class-link">
                        <i class="fas fa-copy class-icon"></i>
                        Cadastros
                    </a>
                    {% endif %}
                    <ul class="collapse list-unstyled" id="pageSubmenu">

                        {% if perfil_administrador == True %}
                        <li>
                            <a class="class-link" href="/cadastros-categorias">Categorias</a>
                        </li>
                        {% endif %}

                        <li>
                            <a class="class-link" href="/cadastros-cursos">Cursos</a>
                        </li>

                        <li>
                            <a class="class-link" href="/cadastros-unidades">Unidades</a>
                        </li>

                        <li>
                            <a class="class-link" href="/cadastros-videos">Videos</a>
                        </li>

                        <li>
                            <a class="class-link" href="#">Arquivos</a>
                        </li>

                        <li>
                            <a class="class-link" href="/cadastros-arquivos">Questionários</a>
                        </li>

                        <li>
                            <a class="class-link" href="/cadastros-questoes">Questões</a>
                        </li>

                        <li>
                            <a class="class-link" href="/cadastros-alternativas">Alternativas</a>
                        </li>

                        {% if perfil_administrador == True %}
                        <li>
                            <a class="class-link" href="/cadastros-avaliacoes">Avaliações</a>
                        </li>
                        {% endif %}

                        {% if perfil_administrador == True %}
                        <li>
                            <a class="class-link" href="/cadastros-inscricoes">Inscrições</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% if perfil_administrador == True %}
                <li>
                    <a class="class-link" href="/relatorio-acompanhamento/">
                        <i class="fas fa-chart-line class-icon"></i>
                        Relatórios
                    </a>
                </li>
                {% endif %}

                {% if perfil_aluno == True %}
                <li>
                    <a class="class-link" href="/area-usuario/">
                        <i class="fas fa-graduation-cap class-icon"></i>
                        Meus Cursos
                    </a>
                </li>
                {% endif %}

            </ul>

        </nav>

        <!-- Conteúdo da página  -->
        <div id="content" class="container-fluid" style="padding-top: 0; padding-left: 0; padding-right: 0;">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-align-left"></i>
                        <span class="class-span">Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav ml-auto">
                              <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-user class-icon icone-usuario"></i>{{ user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/accounts/edit/{{ user.id }}"><i class="fas fa-user-circle class-icon icone-usuario"></i>Minha conta</a>
                                  <a class="dropdown-item" href="/accounts/logout"><i class="fas fa-sign-out-alt class-icon icone-usuario"></i>Sair</a>
                                </div>
                              </li>
                        </ul>

                    </div>

                </div>
            </nav>

            <div class="container-fluid">
                {% block content_page %}{% endblock %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
{% endblock %}