<div class="conteudo-curso-container">

    <p><span><i class="fas fa-arrow-left" onclick="atualizaConteudo('{{ conteudo_anterior_url }}')"></i></span></p>
    <p><span><i class="fas fa-arrow-right" onclick="atualizaConteudo('{{ proximo_conteudo_url }}')"></i></span></p>

    <h2>{{video.titulo}}</h2>

    <a href="/download/{{ caminho_video }}"><span><i class="fas fa-download"></i></span></a>
    
    <video id="video_interno"  controls="controls" tabindex="0" >
      <source src="../media/{{ caminho_video }}" type="video/mp4">
      <source src="../media/{{ caminho_video }}" type="video/ogg">
      <source src="../media/{{ caminho_video }}" type="video/webm">
    Seu browser não suporta o formato para reprodução do vídeo.
    </video>

    <script type='text/javascript'>

        var tempo_corrente = 0;
        var video_assistido = false;

        //__ Associ
        document.getElementById('video_interno').addEventListener('ended',fimDoVideo,false);

        //__ Obtém o tempo corrente do video que será exibido
        $(document).ready(function(){
            $.ajax(
            {
                type:"GET",
                url: "/obtem-usuario-video",
                data:{
                    usuario_video_id: {{ usuario_video.id }},
                },
                success: function( data )
                {
                    tempo_corrente = parseInt(data["tempo_corrente"]);
                    document.getElementById('video_interno').currentTime = tempo_corrente;
                }
             })
        })

        //__ Função para atualizar na base de dados via Ajax algumas informações do video
        function callViewUpdateVideo(){
            tempo_corrente = $('#video_interno')[0].currentTime;
            $.ajax(
            {
                type:"GET",
                url: "/atualiza-usuario-video",
                data:{
                    usuario_video_id: {{ usuario_video.id }},
                    tempo_corrente: tempo_corrente,
                    video_assistido: video_assistido
                }
             })
        }

        //__ Evento de inicio do video
        $('#video_interno').bind('play', function (e) {
            video_assistido = false;
            callViewUpdateVideo();
        });

        //__ Evento de fim do video
        function fimDoVideo(e) {
            video_assistido = true;
            callViewUpdateVideo();
        }

        $(window).on("beforeunload", function() {
            callViewUpdateVideo();
        })

    </script>
</div>